/* 
* @authors H君(qq:262281610)
* @date    2014-09-04 14:45:58
* @version $Id$ 
*/
body, div, ul, ol, li, a, img, h1, h2, h3, h4, h5, p, input, table, tr, td, i, b, dl, dt, textarea, select, option, pre {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

img, input {
  border: 0;
  outline: none; }

ul {
  list-style: none; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.clear {
  clear: both; }

i {
  font-style: normal; }

body {
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  margin: 0 auto; }

.container {
  padding-bottom: 20px; }
  .container img {
    max-width: 100%; }
  .container .header {
    width: 100%;
    height: 45px;
    line-height: 45px;
    white-space: nowrap;
    background: #0e0014;
    text-align: center; }
    .container .header h1 {
      color: white;
      font-weight: normal;
      font-size: 18px; }
    .container .header a > img {
      width: 25px; }
    .container .header .return {
      float: left;
      margin: 14px 0 0 10px;
      display: inline; }
    .container .header .return-index {
      float: right;
      margin: 10px 10px 0 0;
      display: inline; }
  .container .shake {
    width: 50px;
    height: 50px;
    padding: 15%;
    margin: 10% auto;
    border-radius: 50%;
    text-align: center;
    border: 20px solid #fd6f89;
    background: #ed5470 url(../images/shake.png) no-repeat 50% 50%;
    background-size: 60%; }
  .container .shake-music {
    -webkit-animation: animations 0.2s linear 0 10 alternate;
    -moz-animation: animations 0.2s linear 0 10 alternate;
    -ms-animation: animations 0.2s linear 0 10 alternate;
    -o-animation: animations 0.2s linear 0 10 alternate;
    animation: animations 0.2s linear 0 10 alternate; }
  .container .rule {
    padding: 20px;
    margin: 0 20px;
    color: white;
    background: rgba(113, 90, 93, 0.5); }
    .container .rule .ac-tit {
      text-align: center;
      margin-bottom: 10px; }
      .container .rule .ac-tit h2 {
        font-weight: normal;
        font-size: 18px; }
    .container .rule .rule-content {
      color: #faeded; }
      .container .rule .rule-content .ac-sum {
        margin-bottom: 10px; }
        .container .rule .rule-content .ac-sum h3 {
          font-weight: normal;
          font-size: 16px;
          margin-bottom: 5px;
          color: #f2c4cb; }
        .container .rule .rule-content .ac-sum p {
          font-size: 14px; }
        .container .rule .rule-content .ac-sum .awards li {
          line-height: 22px; }
      .container .rule .rule-content .copyright {
        color: #e3d3ce; }

.loading, .awardsBox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: white url(../images/loading.gif) no-repeat center 50%; }

.awardsBox {
  background: rgba(0, 0, 0, 0.6);
  z-index: 9997;
  display: none; }
  .awardsBox .awardsBoxCont {
    position: absolute;
    top: 35%;
    right: 10%;
    left: 10%;
    padding: 20px;
    background: #d6c9d3;
    z-index: 9998;
    color: #1d0e16;
    text-align: center;
    font-size: 20px; }
    .awardsBox .awardsBoxCont .close {
      position: absolute;
      right: -15px;
      top: -10px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      background: #64556c;
      border-radius: 50%;
      z-index: 9999;
      text-decoration: none;
      color: white; }
    .awardsBox .awardsBoxCont p {
      font-size: 18px;
      line-height: 28px; }

@-webkit-keyframes animations {
  0% {
    background-position: 50% 50%; }

  50% {
    background-position: 50% 46%; }

  100% {
    background-position: 50% 42%; } }
